html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #131319;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.steps {
	white-space: nowrap;
	font-family: Impact;
	font-weight: 900;
	text-transform: uppercase;
}
.steps .step {
	overflow: hidden;
	position: relative;
}
.steps .step:nth-child(odd) {
	transform: skew(60deg, -30deg) scaleY(0.675);
}
.steps .step:nth-child(even) {
	transform: skew(0deg, -30deg) scaleY(1.334);
}

.steps .step p {
	margin: 0;
}