html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}

.blobs {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: black;
	filter: blur(20px) contrast(40);
}

.blobs .blob {
	border-radius: 50%;
	background: white;
}